::placeholder {
	text-align: center;
}

:root {
  --backgroundColor: #1DD3B0;
  --colorShadeA: white;
  --colorShadeB: #68f87e;
  --colorShadeC: #27333D;
  --colorShadeD: #2cbc42;
  --colorShadeE: #273947;
}
.textInput {
    width: 87%;
    padding: 15px;
    margin:10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
border: 4px solid #e8a16e;
    border-radius: 10px;
    outline: none;
    }
.textInput:focus{
 border: 4px solid #fd6f0a;
}
p {
	margin-bottom: 0;
	color: #fff;
	line-height: 25px
}
a {
	text-decoration: none!important
}
#tipp{
	display: none;
background: #01334B;
border-radius: 100px;
padding: 12px;
color: white;
text-transform: uppercase;
}
.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #c30101;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	display: none;
	margin: 20px
}
@keyframes spin {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

.col-sm-11 {
		min-width: 100%
}
.clearfix{
clear:both;
}
.banner {
		margin: 70px 0;
}
.banner #size-enter {
	position: relative;
}

.section-heading {
	text-align: center;

}
.coollook {
	border-radius: 20px;
	text-align: center;
	padding: 10px 40px 0 40px;
	position: relative;
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
background: grey;
	border-radius: 20px;
	margin-bottom: 20px;
		opacity: 1;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  margin-top:-7%;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes headerawesome {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes changebg {
  0% {
    background-position: 0% 80%;
  }
  50% {
background-position: 54% 25%;
  }
  100% {
    background-position: 0% 100%;
  }
@keyframes righttoleftt {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
}
@keyframes fadeoutin {
  0% {
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}
.coollookinside {
	border-radius: 20px;
	background: #254B89;
	box-shadow: 8px 6px 3px #052558;
	width: 100%;
	padding: 30px 0;
	margin-bottom: 20px;
	margin-top:40px;
}
.coollook .coollookinside h6 {
	font-size: 1.2rem;
	color: moccasin;
	font-weight: 900;
	letter-spacing: .5px;
	margin-top: 0;
	margin-bottom: 0
}
.coollook .coollookinside span {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
		font-size: 1rem;
	color:wheat;
}
footer {
	background: #206082;
	padding: 80px 0 60px 0;
	margin-top: -10%
}
footer .footer-heading h2 {
	color: #fff;
	font-size: 19px;
	font-weight: 600;
	letter-spacing: .5px;
	margin-bottom: 30px
}
footer p {
	color: #fff
}
footer ul {
	padding: 0;
	margin: 0;
	list-style: none
}
footer ul li {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	letter-spacing: .5px
}
footer ul li:last-child {
	margin-bottom: 0
}
footer ul li a {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	transition: all .3s
}
footer ul li a:hover {
	color: #fff;
	opacity: .75
}
footer .sub-footer {
	text-align: center;
	margin-top: 80px;
	border-top: 1px solid rgba(250, 250, 250, .3);
	padding-top: 60px
}
footer .sub-footer a {
	color: #fff
}
@media (max-width: 1200px) {

	#file-upload-btn {
		float: none;
		width: 100%
}
}
@media (max-width: 991px) {
	.banner #size-enter fieldset button {
		margin-top: 0
	}
	.banner #size-enter fieldset input {
		width: 100%;

		margin-bottom: 30px
	}
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

button.big-button {
  padding: 1em 2em;
  border: 2px solid orange;
  border-radius: 1em;
  background: var(--colorShadeE);
      transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  box-shadow: 1px 6px #888;
}
button.big-button::before {
  position: absolute;
  content: "";
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
#fulls{
	width: 100%;
margin: 0;
float: left;
}

button.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
  transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);

  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}

.wrapcool {
	padding: 7px;
box-shadow: 0 10px 16px 0 #014463, 0 6px 20px 0 #014463;	border-radius: 20px;
}
#drop_file_zone {
	background-color: #012231;
	padding: 8px;
	font-size: 18px;
	border-radius: 10px
}
#drag_upload_file p {
	font-weight: 100;
	text-transform: uppercase;
	color: #ffebcd;
	padding: 40px 0;
	font-size: 26px
}
#drag_upload_file {
	width: 50%;
	margin: 0 auto
}
#drag_upload_file #selectfile {
	display: none
}
.lowercool {
	color: #dc143c;
	padding: 30px;
	font-weight: 700
}
#yoname{
  color:#fbcc46;
}
#intro{
  color:lightcoral;
  font-size:150%;
  padding:1px;
  margin-top:0;
}
#seeans{
  color:blue;
  font-size:120%;
}
#tix{
    border: 2px solid #e74848;
  color:#e74848;
  display:inline-block;
  padding:2.5vw;
    border-radius:20px;
  font-size:120%;
  background:#0E0E14;
}
.headingmod{
	color: white;
   text-transform: uppercase;font-size: 220%;	background:white;
	padding:20px 5px;
	transition: all 0.1s ease-in;
  margin:0;
background: repeating-linear-gradient(-45deg, #272727, #272727 10px, #373737 0, #373737 20px);
border-bottom: 8px solid coral;  
}
@media (min-width: 767px) {
	.lowerextra {
background-color: #fff;
padding-bottom: 40px;
margin: -10px -40px 0 -40px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
padding:20px;
	}
	}
@media (max-width: 767px) {

	.lowerextra {
		background-color: #fff;
		margin:-10px;
		border-bottom-left-radius:20px;
		border-bottom-right-radius:20px;
		padding: 10px;
	}
	.lowercool {
		padding: 0
	}
	.coollook {
		margin-bottom: 20px;
		padding: 10px;
		margin-top:-12vw;
	}
	#drag_upload_file h3 {
		display: none;
		font-size: 20px;
		padding: 10px
	}
	.file-upload-btn {
		padding: 5px;
		margin-top: -50px
	}
	.footer-item {
		margin-bottom: 60px
	}
	footer .sub-footer {
		margin-top: 20px
	}
}
body {
    font-family: 'Merienda', cursive;
	margin:0;
	width:100%;
}
a {
  position: relative;
  width: 100%;
  padding-top: 25.92%;
  display: block;
  background-size: 100% 100%;
  font-size: 28px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333;
}
a.background-button {
font-family: 'Merienda', cursive;
font-style: italic;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323909/yellow-shadow.png);
}
#score{
margin-right: 2vw;
color: #3C647B;
display: none;
padding: 12px;
background: lavender;
margin-right: 0;
border: 4px solid teal;
    border-right-color: teal;
border-bottom-left-radius: 13px;
border-top-left-radius: 13px;
border-right-color: transparent;
transition: all 1s ease-in;
margin-top:10px;
position:fixed;
float: right;
right: 0;
}
a.background-button:after {
  content: attr(title);
  width: 100%;
  height: 100%;
  position: absolute;
  color: darkorchid
  top: 0;
  left: 0;
  display: block;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323909/yellow-top.png);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  max-width: 345px;
word-wrap: anywhere;
  align-items: center;
}
#stage{
  display:none;
    transform: scale(1.5);
}
#correct{
font-size:200%;
display:none;
}
a.background-button:hover:after {
  -webkit-transform: translate(2.5%, 10%);
  transform: translate(2.5%, 10%);
  color: black;
}
.button-wrapper {
  width: 355px;
  display: block;
  margin: 3px;
}
.button-wrapper:nth-child(2) a {
  -webkit-filter: hue-rotate(36deg);
  filter: hue-rotate(36deg);
}
.button-wrapper:nth-child(3) a {
  -webkit-filter: hue-rotate(72deg);
  filter: hue-rotate(72deg);
}
.button-wrapper:nth-child(4) {
  -webkit-filter: hue-rotate(108deg);
  filter: hue-rotate(108deg);
}
.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
background-position: 0 0;
animation: desk 1s steps(28) infinite;
}
  @keyframes desk{
   from {
      background-position: 0 0;
   }
   to {
    background-position: -2800px 0;
   }
}
@keyframes righttoleft{
	0%{margin-left:40%;opacity:0;border-width:0px;}
	40%{margin-left:100%;opacity:100;}
	80%{margin-left:-80%;opacity:100;}
	100%{margin:0;opacity:100;border-width:5px;}
}

.pulsex:hover,
.pulsex:focus {
  -webkit-animation: pulsex 0.5s;
          animation: pulsex 0.5s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulsex {
  0% {
    box-shadow: 0 0 0 0 #ef8f6e;
  }
}

@keyframes pulsex {
  0% {
    box-shadow: 0 0 0 0 #ef8f6e;
  }
}

header {
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;

}

body{
	width: 100%;
	height: 100%;
text-align:center;
/*background: linear-gradient(66deg, lightcoral, #090a0f, #201c29, #e52e71 );*/
background: linear-gradient(66deg, #536976, #001628, #3A5F9B);
background-size: 701% 655%;
    	  animation: 1s ease-out 0s 1 headerawesome, changebg 10s infinite;
	      transform: translateY(0%);
	}
img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display:none;
}
#tabletop{
  font-size:200%;
}
.theader {
  background-color: #E43F6F;
  color: white;
  font-size: 2.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.table-users {
  border: 1px solid #327a81;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 100%;
}
table {
  width: 100%;
}
table td, table th {
  color: #2b686e;
  padding: 10px;
}
table td {
  text-align: center;
  vertical-align: middle;
}
table td:last-child {
    font-family: 'Pacifico', cursive;
  font-size: 4vw;
  line-height: 1.4;
  text-align: left;
  max-width:15%;
}
table td:nth-child(2) {
  font-size: 5.6vw;
  line-height: 1.4;
  font-family: 'Pacifico', cursive;
  min-width:70%;
  word-wrap: break-word;
max-width: 20px;
}
table td:nth-child(1) {
  max-width:15%;
}

table th {
  background-color: #daeff1;
  font-weight: 300;
}
table tr:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n + 1) {
  background-color: #edf7f8;
}
@media screen and (max-width: 700px) {
  table td:nth-child(3) {
  font-size: 7.6vw;
}
table td:nth-child(2) {
  font-size: 8.6vw;
  line-height: 1.4;
  min-width:60%;
}
}
#naxe{
      transition: 0.2s ease-in-out;
    animation-iteration-count: 1;
    animation: heartbeat 2s;
    animation-delay: 1s;
}
#submix{
      animation-iteration-count: 1;
    animation: heartbeat 2s;
    animation-delay: 2s;
}
@keyframes heartbeat {
  50% {
    transform: scale(1.1);
  }
}
.progress {
  height: 30px;
  width: 0%;
  background: linear-gradient(to left, #f2709c,#ff9472);
  color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  transition: 1s ease;
   border-radius: 20px;
     height: 30px;
  background-color: lightgray;
  border-radius: 20px;
}
 .emoji {
     width: 120px;
     height: 120px;
     margin: 15px 15px 40px;
     background: #ffda6a;
     display: inline-block;
     border-radius: 50%;
     position: relative;
}
}
 .emoji:after {
     position: absolute;
     bottom: -40px;
     font-size: 18px;
     width: 60px;
     left: calc(50% - 30px);
     color: #8a8a8a;
}
 .emoji__face, .emoji__eyebrows, .emoji__eyes, .emoji__mouth, .emoji__tongue, .emoji__heart, .emoji__hand, .emoji__thumb {
     position: absolute;
}
 .emoji__face:before, .emoji__eyebrows:before, .emoji__eyes:before, .emoji__mouth:before, .emoji__tongue:before, .emoji__heart:before, .emoji__hand:before, .emoji__thumb:before, .emoji__face:after, .emoji__eyebrows:after, .emoji__eyes:after, .emoji__mouth:after, .emoji__tongue:after, .emoji__heart:after, .emoji__hand:after, .emoji__thumb:after {
     position: absolute;
     content: '';
}
 .emoji__face {
     width: inherit;
     height: inherit;
}
 .emoji--love {
     background: #f55064;
}

 .emoji--love .emoji__heart {
     left: calc(50% - 40px);
     top: calc(50% - 40px);
     width: 80px;
     height: 80px;
     animation: heart-beat 1s linear infinite alternate;
}
 .emoji--love .emoji__heart:before, .emoji--love .emoji__heart:after {
     left: calc(50% - 20px);
     top: calc(50% - 32px);
     width: 40px;
     height: 64px;
     background: #fff;
     border-radius: 20px 20px 0 0;
}
 .emoji--love .emoji__heart:before {
     transform: translate(20px) rotate(-45deg);
     transform-origin: 0 100%;
}
 .emoji--love .emoji__heart:after {
     transform: translate(-20px) rotate(45deg);
     transform-origin: 100% 100%;
}

 .emoji--sad .emoji__face {
     animation: sad-face 2s ease-in infinite;
}
 .emoji--sad .emoji__eyebrows {
     left: calc(50% - 3px);
     top: 35px;
     height: 6px;
     width: 6px;
     border-radius: 50%;
     background: transparent;
     box-shadow: -40px 9px 0 0 #000, -25px 0 0 0 #000, 25px 0 0 0 #000, 40px 9px 0 0 #000;
}
 .emoji--sad .emoji__eyebrows:before, .emoji--sad .emoji__eyebrows:after {
     width: 30px;
     height: 20px;
     border: 6px solid #000;
     box-sizing: border-box;
     border-radius: 50%;
     border-bottom-color: transparent;
     border-left-color: transparent;
     border-right-color: transparent;
     top: 2px;
     left: calc(50% - 15px);
}
 .emoji--sad .emoji__eyebrows:before {
     margin-left: -30px;
     transform: rotate(-30deg);
}
 .emoji--sad .emoji__eyebrows:after {
     margin-left: 30px;
     transform: rotate(30deg);
}
 .emoji--sad .emoji__eyes {
     width: 14px;
     height: 16px;
     left: calc(50% - 7px);
     top: 50px;
     border-radius: 50%;
     background: transparent;
     box-shadow: 25px 0 0 0 #000, -25px 0 0 0 #000;
}
 .emoji--sad .emoji__eyes:after {
     background: #548dff;
     width: 12px;
     height: 12px;
     margin-left: 6px;
     border-radius: 0 100% 40% 50Array/0Array 50% 40% 100%;
     transform-origin: 0% 0%;
     animation: tear-drop 2s ease-in infinite;
}
 .emoji--sad .emoji__mouth {
     width: 60px;
     height: 80px;
     left: calc(50% - 30px);
     top: 80px;
     box-sizing: border-box;
     border: 6px solid #000;
     border-radius: 50%;
     border-bottom-color: transparent;
     border-left-color: transparent;
     border-right-color: transparent;
     background: transparent;
     animation: sad-mouth 2s ease-in infinite;
}
 .emoji--sad .emoji__mouth:after {
     width: 6px;
     height: 6px;
     background: transparent;
     border-radius: 50%;
     top: 4px;
     left: calc(50% - 3px);
     box-shadow: -18px 0 0 0 #000, 18px 0 0 0 #000;
}
 @keyframes heart-beat {
     25% {
         transform: scale(1.1);
    }
     75% {
         transform: scale(0.6);
    }
}
 @keyframes wow-face {
     15%, 25% {
         transform: rotate(20deg) translateX(-25px);
    }
     45%, 65% {
         transform: rotate(-20deg) translateX(25px);
    }
     75%, 100% {
         transform: rotate(0deg) translateX(0);
    }
}
 @keyframes wow-brow {
     15%, 65% {
         top: 25px;
    }
     75%, 100%, 0% {
         top: 15px;
    }
}
 @keyframes wow-mouth {
     10%, 30% {
         width: 20px;
         height: 20px;
         left: calc(50% - 10px);
    }
     50%, 70% {
         width: 30px;
         height: 40px;
         left: calc(50% - 15px);
    }
     75%, 100% {
         height: 50px;
    }
}
 @keyframes sad-face {
     25%, 35% {
         top: -15px;
    }
     55%, 95% {
         top: 10px;
    }
     100%, 0% {
         top: 0;
    }
}
 @keyframes sad-mouth {
     25%, 35% {
         transform: scale(0.85);
         top: 70px;
    }
     55%, 100%, 0% {
         transform: scale(1);
         top: 80px;
    }
}
 @keyframes tear-drop {
     0%, 100% {
         display: block;
         left: 35px;
         top: 15px;
         transform: rotate(45deg) scale(0);
    }
     25% {
         display: block;
         left: 35px;
         transform: rotate(45deg) scale(2);
    }
     49.9% {
         display: block;
         left: 35px;
         top: 65px;
         transform: rotate(45deg) scale(0);
    }
     50% {
         display: block;
         left: -35px;
         top: 15px;
         transform: rotate(45deg) scale(0);
    }
     75% {
         display: block;
         left: -35px;
         transform: rotate(45deg) scale(2);
    }
     99.9% {
         display: block;
         left: -35px;
         top: 65px;
         transform: rotate(45deg) scale(0);
    }
}
#wow{
  display:none;
  scale:3;
}
#love{
  display:none;
  scale:3;
}
#wrong{
  display:none;
  scale:3;
}